.page-container {
	margin-top: 30px;
}

#menu {
	border-bottom: solid 3px #000;

	.menu {

		padding: 0 20px;
		
		.logo {
			height: 50px;
		}
		
		.menu-text {
			line-height: 35px;
			font-size: 20px;
		}

		li {
			a {
				color: #000;
				font-size: 20px;
				padding: 0 1.4em;
			}
		}

		li:not(:last-child) {
		    border-right:2px solid #000;
		    margin-right:20px;
		    padding-right:20px;
		}
		
		.active {
			font-weight: bold;
		}
	}
}

#users_list {
	overflow-y: scroll;
	height: 577px;
	border-right: solid 3px #000;
	text-align: center;

	h4 {
		color: #ccc;
		padding-top: 30px;
	}

	a {
		color: #000;
		font-weight: bold;
	}

	.button {
		margin-top: 10px;
		color: #fff;
	}

}

#user_profile {

	h4 {
		color: #ccc;
		padding-top: 30px;
		text-align: center;
	}

	img {
		border-radius: 50%;
		display: block;
		width: 150px;
		margin: 20px auto;
	}

	.user_info {
		border-top: solid 1px #333;
		padding: 20px;
	}

	.user_attribute {
		font-weight: bold;
	}
}