<!-- <div class="grid-x">
	<div class="cell">
		<div class="top-bar" id="menu">
			<div class="top-bar-left">
				<ul class="menu">
					<img class="logo" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github_logo" />
					<li class="menu-text">Github Users</li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li ng-repeat='item in MC.menu_links'>
						<a ui-sref="{{ item.name }}" ui-sref-active='active'> {{ item.title }} </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> -->


<div class="row expanded">
	<div id="menu" class="top-bar columns">
		<div class="columns top-bar-left">
			<ul class="menu">
				<img class="logo" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github_logo" />
				<li class="menu-text">{{ MC.title }} Page</li>
			</ul>
		</div>
		<div class="columns top-bar-right">
			<ul class="menu">
				<li ng-repeat='item in MC.menu_links'>
					<a ui-sref="{{ item.name }}" ui-sref-active='active' ng-click="MC.changeTitle(item.title)" ng-class="{true: 'disabled', false: ''}[MC.title == item.title]"> {{ item.title }} </a>
				</li>
			</ul>
		</div>
	</div>
</div>